.navbar-default
	background-image: none
	box-shadow: none
	background-color: #fff
	border: none
.navbar-collapse , .container-fluid
	padding: 
		left:  0
.myNav
	li
		width: 13em
		text-align: center
		border:
			bottom:  3px solid #999	
			
		a 
			padding: 
				top: 10px
				bottom: 7px

			font-size: 1.7em

	li:last-child
		border:
			right: 1px solid #999

		border-radius: 0 0 50px 0
    
.navbar-default
	margin-bottom:  10%